.fotouser{
width: 200px;
height: 200px;
display: block;
margin: 0% auto;
position: relative;
top: 200px;
border: radius 15px; 
box-shadow: 5px;
}
.nombre{
    font-family: 'tahoma';
    text-align: center;
    position: relative;
    top: 220px;

}
.cargo{
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 220px;
}

