body{
background-color: #1c2b58;
}
.fotouser{
width: 200px;
height: 200px;
display: block;
margin: 0% auto;
position: relative;
top: 200px;
border: radius 15px; 
box-shadow: 5px;
}
.nombre{
    font-family: 'tahoma';
    text-align: center;
    position: relative;
    top: 220px;
    color: white;

}
.cargo{
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 220px;
    color: white;
}

.franja{
    width: 664px;
    height: 50px;
    position: relative;
    top: 250px;
    background-color: rgb(21, 71, 71);
    margin-right: 0;
    ;
}

